/* Navy	#0a192f #0a192f
Light Navy	#172a45 #172a45
Lightest Navy	#303C55 #303C55
Slate	#8892b0 #8892b0
Light Slate	#a8b2d1 #a8b2d1
Lightest Slate	#ccd6f6 #ccd6f6
White	#e6f1ff #e6f1ff
Green	#64ffda #64ffda */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color:#0a192f;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ccd6f6;
    letter-spacing: 0.05rem;
    line-height: 1.7;
    position: relative;
    box-sizing: border-box;
    font-size: 1.4rem;
    /* min-height: 100vh; not sure why i did it  */
}

h2{
    font-weight: 700;
    font-size: 3rem;
}

.main-grid{
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-column-gap: 2em ;
}

.hero > *,
.about > *,
.info-title >*,
.col,
.portfolio >*,
.contact>*,
.footer>* {
    grid-column: 2/3;
}

/* seperated info-title and col in info section because it was breaking under same section */

.title,
.info,
.info-title,
.portfolio,
.contact,
.footer{
    text-align: center;
}

.hero,
.info-title,
.portfolio,
.contact,
.footer{
    padding: 2em 0;
}

.top{
    display: none;
}

/* HEADER LAYOUT */

.header{
    background-color: #0a192f;
}

.header__content{
    display: flex;
    grid-column: 2/3;
    /* justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: tomato; */

}

/* LOGO */

.logo-link{
    /* margin-top: 2em; */
    cursor: pointer;
    text-decoration: none;
    /* z-index: 10; */
    margin: 0;
    padding: 0;
    position: absolute;
}

.logo{
    font-size: 2rem;
    font-weight: 100;
    border: 3px solid white;
    color: #ccd6f6;
    padding: 0 0.25em;
}

.logo-b{
    font-size: 4rem;
    font-weight: 900;
    color:#64ffda
}

.logo:hover{
    background-color: rgba(100, 255, 219, 0.068);
}

.logo,
.logo:hover {
    animation: logoReload 500ms ease-out;
}


/* NAV again */


.header__nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #303C55 ;
    left:100%;
    transform: translateX(0); 
    transition: transform 500ms;
    overflow: hidden;

    /* 
    height: 0px;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform ease-in-out 700ms;
    z-index: 10; */
}

 .nav-open{
    transform: translateX(-100%);
} 


.nav-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.nav-link{
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    color: #ccd6f6;
}

.nav-link:hover,
.nav-link:focus{
    color:  #64ffda;
}

.close-button{
    position: absolute;
    border:0;
    background: 0;
    font-size: 4rem;
    font-weight: 700;
    cursor: pointer;
    padding: 0.5em;
    color:#ccd6f6;
}

.close-button:hover,
.close-button:focus{
    color:  #64ffda;
}

.open-button{
    border:0;
    background: 0;
    margin-left: auto;
    cursor: pointer;
    color:#ccd6f6;
    padding: 0.7em 0;
    font-size: 3rem;
}

.open-button:hover,
.open-button:focus{
    color:  #64ffda;
}

/* HERO LAYOUT */

/* HERO TYPOGRAPHY */

.hero__heading {
    backface-visibility: hidden;
}

.hero__heading__intro {
    display: block;
    font-family: "Roboto Mono", monospace;
    color: #64ffda;
    font-weight: 400;
    font-size: 1.4rem;

    animation: introFirst 600ms ease-out;
}

.hero__heading__main {
    display: block;
    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    line-height: 1.2;
    margin-bottom: 0.25em;

    animation: introMain 800ms ease-out;
}

.hero__heading__secondary {
    display: block;
    font-size: 1.7rem;
    font-weight: 400;
    color: #a8b2d1;
    margin-bottom: 0.5em;
    animation: introSecondary 1s ease-out;
}

/* HERO BUTTONS */

.btn:link,
.btn:visited {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    color: #64ffda;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0;
    border: 2px solid #64ffda;
    border-radius: 5px;
    padding: 0.65em 1.5em;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 1.4em;
    animation: twoButtons 1.2s ease-out;
    justify-self: start;
}

.btn:hover,
.btn:focus {
    background-color: rgba(100, 255, 219, 0.068);
    transition: background-color 0.2s ease-out;
}

.btn:active {
    background-color: #0a192f;
    transition: background-color 0.2s ease-out;
}

.section-title{
    font-size: 2rem;
    margin: 0.5em 0;
}

/* ABOUT LAYOUT */

.about__content{
    margin: 0.7em 0.5em;
}

.skills{
    list-style-type: "⯈";
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
}

.skills-list{
    margin: 0.25em;
    padding-left: 0.5em;
}

/* INFO TITLE LAYOUT */

.info-title{
    padding-bottom: 0;
}

/* CONTACT LAYOUT */

.contact__icon{
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.contact__btn{
    margin: 0 auto 5em auto;

}

/* FOOTER LAYOUT */

.social{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

.social-list{
    list-style: none;
    margin-bottom: 1em;

}

.social-link:link,
.social-link:visited{
    color: #a8b2d1;
    margin: 0 0.5em;
    font-size: 2rem;
    animation: twoButtons 1.2s ease-out;

}

.social-link:hover,
.social-link:focus{
    color: #64ffda;
    transition: color 0.2s ease-out;
}

.social-link:active {
    color: #a8b2d1;
    transition: color 0.2s ease-out;
}


.copyright{
    font-family: "roboto mono",monospace;
    opacity: 0.4;
    font-size: 1.4rem;
    text-decoration: none;
    color: #a8b2d1;
}

.copyright:hover,
.copyright:focus{
    color: #64ffda;
    cursor: pointer;
}

/* ANIMATIONS */

@keyframes logoReload {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes logoAnimate {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(-10px);
    }
}

@keyframes introFirst {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes introMain {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    10% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes introSecondary {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    20% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes twoButtons {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    30% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MEDIA QUERIES FOR BIG SCREEN */

@media (min-width: 600px){

    .main-grid{
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 250px)) minmax(1em, 1fr);
    }

    .hero > *,
    .about > *,
    .info-title>*,
    .col,
    .portfolio >*,
    .contact>*,
    .footer>* {
        grid-column: 2/span 3;
    }

    .hero{
        padding: 5em 0;
    }

    .col{
        grid-column: span 1;
    }

    .col:first-child{
        grid-column: 2/span 1;
    }
  
}

